body{
    background: #252525 !important;
    /* 0a032c */
}

.icon-style{
    color: #a4abbb;
}

.icon-style:hover{
    color: #0dcaf0;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
    /* float: right !important; */
} 

.list-ele{
   padding: 10px;
}

.list-item {
    text-decoration: none;
    color: #a4abbb;
    font-size :medium;
    /* border-color: #a4abbb; */
    /* border-style: outset; */
    border-bottom:1px solid #a4abbb;
}

.list-item:hover{
    color: #0dcaf0;
    text-shadow: 0 0 3px #e5ebec;

}

.card-main{
    position: relative;
    background-color: #252525;
    border-left: 2px solid; 
    border-right: 2px solid; 
    /* border-top: 2px solid #0dcaf0;    */

    padding-top: 20px;
    padding-left: 20px;
    border-image: linear-gradient(to bottom, #0dcaf0, #252525) 1 100%;
    /* border-image: linear-gradient(to bottom, purple, #252525) 1; */
}    

.fr{
    float: right;
}



