body{
    background: #252525 !important;
    /* 0a032c */
}

.icon-style{
    color: #a4abbb;
}

.icon-style:hover{
    color: rgb(176, 176, 81);
}

ul{
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
    float: right;
} 

li{
   padding: 10px;
}

li a {
    text-decoration: none;
    color: #a4abbb;
    font-size :medium
}

li a:hover{
    color: rgb(176, 176, 81);
}


/* .list-ele:hover {      
    background-color: #D0BDF4;
    color: #5c375c;
    font-weight: bold; 
    
} */




