.card-main{
    position: relative;
    background-color: #252525;
    border-left: 2px solid; 
    border-right: 2px solid; 

    padding-top: 20px;
    padding-left: 20px;
    border-image: linear-gradient(to bottom, #0dcaf0, #252525) 1 100%;
}    

.icon-style{
    color: #a4abbb;
}

.icon-style:hover{
    color: #0dcaf0;
}


